@import "parts/dark.css";
/* nord dark theme color var */
@import "parts/popups.css";
/* nord theme to the context menus all around*/
@import url("./blank-context.css");
/* blank area on a webpage*/
@import url("./link-context.css");
@import url("./image-context.css");
@import url("./sideberyMods.css");
@import url("./sideberyTweaks.css");
@import url("./autohide_main_toolbar.css");

/* prevent flashbang */
@-moz-document url(chrome://browser/content/browser.xhtml){
  #main-window,
  browser[type="content-primary"],
  browser[type="content"],
  tabbrowser#content,
  #content,
  browser[type="content"] > html{
     background: #1d2021 !important;
  }
} 

* {
  font-family: "Inter" !important;
  font-size: 12.5px !important;
  font-weight: 400;
}
/* #appcontent
  > #tabbrowser-tabbox
  > #tabbrowser-tabpanels
  > .deck-selected
  > .browserContainer
  > .browserStack
  > browser {
  border-radius: 7px!important;
  margin: 5px!important;
} */

/* centers url in address bar*/
#urlbar .urlbar-input-box {
  text-align: center;
}
/*All sidebar text remover*/
#sidebar-header, #sidebar-splitter {
  display: none;
}
/* bali10050's theme components*/
/*  Removes urlbar border/background  */
#urlbar-background{border: none !important; outline: none !important; transition: 0s !important;}
/*  Removes the background from the urlbar while not in use  */
#urlbar:not(:hover):not([breakout][breakout-extend])>#urlbar-background {box-shadow: none!important; background: #1c1a23 !important}
/*  Removes annoying border  */
#navigator-toolbox{border:none !important;}
/*  The thing in the bottom with links  */
#statuspanel-label{background-color: var(--toolbar-field-background-color)!important; border-color: transparent!important; border-radius: 5px !important; color: currentColor!important; margin: 0 0 0 0!important; padding: 5px 0 0 0!important; opacity: 100%;}
/*  Titlebar buttons  -  Minimize button  */
#nav-bar, #PersonalToolbar{ background-color:#1c1a23!important }

/*	 reducing context menu spacing	*/
menupopup:not(.in-menulist) > menuitem, 
menupopup:not(.in-menulist) > menu {
  padding-block: 2.5px !important;
}
:root {
  --arrowpanel-menuitem-padding: 5px 10px !important;
}
#back-button > .toolbarbutton-icon{
  --backbutton-background: transparent !important;
  border: none !important;
}
#back-button {
  list-style-image: url("left-arrow.svg") !important;
}
#forward-button {
  list-style-image: url("right-arrow.svg") !important;
}
/* Url Bar  */
#urlbar-input-container {
  background-color: #1c1a23 !important;
  border: none !important;
}
#reload-button {
  /* list-style-image: url("chrome://global/skin/icons/reload.svg"); */
  /* list-style-image: url(")"); */
  list-style-image: url(./refresh-ccw.svg) !important; 
}


/* HIDE HORIZONTAL TABS */
  #main-window:not([tabsintitlebar="true"]) #TabsToolbar {
      visibility: collapse !important;
  }
/* REMOVE MIN/MAX BUTTONS */
/* provide space to drag and detect auto hide tabs*/
#titlebar {
	appearance: none !important;
	height: 0.5px;
}
/* Fix for main menu calling by Alt button */
#titlebar > #toolbar-menubar {
    display: none;
}
/* Move minimize/restore/close buttons to empty space */
#TabsToolbar > .titlebar-buttonbox-container {
	display: none;
}
